#root,
.App {
  height: 100%;
  width: 100%;
  position: fixed;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
p,
label {
  color: white;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 36px;
}

input,
button {
  font-family: 'Open Sans', sans-serif;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
}

label {
  opacity: 0;
  position: absolute;
  text-indent: 1000000px;
}

input {
  background: white;
  color: #313131;
}

button {
  background: #ffff00;
  color: #363537;
  font-weight: bold;
  text-transform: lowercase;
}

.form__container {
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  max-width: 90vw;
}

.form__field-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__field {
  width: 100%;
}

.form__button {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .form__field-container {
    flex-wrap: nowrap;
  }
  .form__field {
    width: auto;
  }
  .form__button {
    margin: 0 0 0 10px;
  }
}

footer {
  width: 100%;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.2);
}

footer p {
  text-align: center;

}